.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
  }
  
  .todo-item:hover {
    box-shadow: 0 2px 5px  rgb(101, 31, 182);
  }
  
  .todo-content {
    flex: 1;
  }
  
  .todo-title {
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--text-color);
  }
  
  .todo-date {
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .delete-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ff4444;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
    opacity: 0.7;
    transition: var(--transition);
  }
  
  .delete-button:hover {
    opacity: 1;
    transform: scale(1.1);
  }